@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin justify-between {
  justify-content: space-between;
}

@mixin align-start {
  align-items: flex-start;
  align-content: flex-start;;
}

@mixin align-center {
  align-items: center;
  align-content: center;
}

@mixin flex-left-center {
  @include flex-wrap;
  @include align-center;
}

@mixin flex-center-between {
  @include flex-wrap;
  @include justify-between;
  @include align-center;
}
@mixin flex-top-between {
  @include flex-wrap;
  @include justify-between;
  @include align-start;
}
