$red1: #59001D;
$red2: #690A20;
$red3: #73001B;
$red4: #8C1527;
$red5: #B32432; // ui--light-theme;
$red6: #E81736; // ui--dark-theme; ui--hover--light-theme
$red7: #E64353; // ui-hover--dark
$red8: #ED5F68;
$red9: #FF8088;

$red-overlay: rgba(232,23,54, .5);

$black: #000000;
$gray1: #222222;
$gray2: #333333;
$gray3: #444444;
$gray4: #555555;
$gray5: #777777;
$gray6: #AAAAAA;
$gray7: #BBBBBB;
$gray8: #CCCCCC;
$gray9: #DDDDDD;
$white: #FFFFFF;

$dark-overlay:  rgba(0,0,0, 0.7);
$light-overlay:  rgba(255,255,255, 0.7);

$grid: 64;
$cols: 16;

$cell:  1rem;
$char: 0.75rem;
$tap-height: 3rem; // 48px;

$main-menu-width: 320
