// COMPLIING
  // File loading / selector order
    //  _reset.scss,
    //  _color.scss,
    //  _placeholders.scss,
    // THIS FILE
    //  _.animated.scss


// THIS FILE:  SECTIONS / STRUCTURE

  // HELPERS (type & color)
    // functional ("font-size-0") rather than bem style ("map__legend--small")
    // helpful for prototyping.  consider refactoring into scss %placeholder classes

  // ELEMENTS (type & color)
    // Custom Form Elements (checkbox & radio buttons)

  // COMPONENTS (blocks)
    // Naming convention
      // .some-block__some-element--some-modifier
      // .is_toggled_by_javascript

    // Selector Order
      // Order in which they first appear in the DOM

///////////////////////////////
// HELPERS

a,
input,
label {
  color: $white;
}

h1,h2,h3,h4,h5,h6,p,div,span {
  color: $light;
}



.hide-on-mobile {
  @include mobile-only {
    display: none;
  }
}
.hide-on-desktop {
  @include desktop-only {
    display: none;
  }
}



// END_HELPERS
///////////////////////////////

///////////////////////////////
// ELEMENTS
.button {
  @extend %button;
}

.button--close {
  @extend %button--close-panel;
}

.button--deselect {
  @extend %button--select;
}

.button--select {
  @extend %button--select;
}

.button--download {
  @extend %bright-red-background;
  border: none;
  margin-left: calcVW(1,$grid);
  margin-right: calcVW(1,$grid);
  padding-left: calcVW(1,$grid);
  padding-right: calcVW(1,$grid);
}


.close-panel {

}

.inline-link {
  display: inline-block;
}

.inline-link.middle-link {

}

.text--slideout-primary,
.text--slideout-secondary,
.text--slideout-tertiary,
.text--help {
  @extend %italic;
}

.text--help {
  font-size: calcRem($f0,1);
}


.text--panel-label,
.text--link-label {
  display: block;
}
.text--panel-label {

}

.text--link-heading {
  display: block;
}

.text--link-subheading {
  display: block;
}


///////////////////////////////
.theme--dark {
  a,
  input,
  label {
    color: $white;
  }

  h1,h2,h3,h4,h5,h6,p,div,span {
    color: $light;
  }

  .logo--light-theme {
    display: none;
  }

  .chart-header__heading,
  .chart-header__subheading,
  .text--panel-label,
  .text--link-label,
  .text--close-slideout,
  .text--slideout-primary,
  .text--cta,
  .select-view__text.line1,
   {
    @extend %white-text;
  }

  .site-title,
  .text--legend,
  .text--slideout-tertiary,
  .details-panel__heading {
    @extend %light-text;
  }

  .control_panel__heading,
  .text--link-subheading,
  .text--panel-label,
  .select-types p,
  .select-view__text.line2 {
    @extend %gray-text;
  }
  .select-view__text.text--warning {
    @extend %light-red-text;
  }

  .text--dynamic,
  .text--slideout-secondary,
  .text--link-heading,
  .inline-link,
  .toggle-option__input:checked + .toggle-option__label:before {
    @extend %bright-red-text;
  }



  .details-panel {
    @extend %black-background;
  }

  .control-panel {
      background: $gradient-top-left--dark--cp;
  }

  .secondary-panel,
  .select-countries .button--select,
  .select-countries .button--deselect {
    @extend %darker-background;
  }


  .button--cta:hover .icon--from_right {
    @extend %icon--from_right--red;
  }

  .button--cta:hover .icon--from_left {
    @extend %icon--from_left--red;
  }


  .control-panel__link:after,
  .select-countries__label,
  .toggle-option__input:checked + .toggle-option__label:before,
  .toggle-control-panel,
  .button--cta.button--export,
  .button--cta.button--details {
    @extend %white-border;
  }

  .middle-link,
  div.control-panel__item__inner,
  a.control-panel__link,
  .toggle-option__label:before {
    @extend %gray-border;
  }
  input[type="radio"]:checked + .select-view__label,
  .toggle-control-panel:hover,
  .button--cta:hover,
  .button--close.button--icon:hover {
    @extend %bright-red-border;
  }

  .details-panel__fade::before {
    background: $gradient--top--black;
  }
  .details-panel__fade::after {
    background: $gradient--bottom--black;
  }

  @include desktop-only {

    // .text--dynamic:hover,
    // .text--close-slideout:hover,
    // .text--slideout-secondary:hover,
    // .text--link-heading:hover,
    // .inline-link:hover {
    //   @include light-red-text;
    // }
    .close-control-panel:hover,
    .select-countries__label:hover,
    .select-countries__label:hover:before,
    .select-view__label:hover {
      @include white-border
    }



    .control-panel__link:hover {
      @include black-border;
    }
    .select-view .button-close,
    .select-view__label {
      @include gray-border;
    }

    .select-view .button-close:hover {
      @include white-border;
    }

    .select-types__legend {
      &.legend--subtypes {
        @include white-text;
      }
    }
  }
}

///////////////////////////////

.theme--light {

  a,
  input,
  label {
    color: $black;
  }

  h1,h2,h3,h4,h5,h6,p,div,span {
    @extend %dark-text;
  }
  .logo--dark-theme {
    display: none;
  }



  .chart-header__heading,
  .chart-header__subheading,
  .text--panel-label,
  .text--link-label,
  .text--close-slideout,
  .text--slideout-primary,
  .text--cta,
  .select-view__text.line1 {
    @extend %black-text;
  }

  .site-title,
  .text--legend,
  .text--slideout-tertiary,
  .details-panel__heading {
    @extend %dark-text;
  }

  .control_panel__heading,
  .text--link-subheading,
  .text--panel-label,
  .select-types p,
  .select-view__text.line2 {
    @extend %gray-text;
  }


  .text--dynamic,
  .select-view__text.text--warning,
  .text--slideout-secondary,
  .inline-link,
  .source-link {
    @extend %bright-red-text;
  }


  .text--dynamic:hover,
  .text--close-slideout:hover,
  .text--slideout-secondary:hover,
  .inline-link,
  .control-panel__link .text--link-heading,
  .toggle-option__input:checked + .toggle-option__label:before {
    @extend %red-text;
  }

  .details-panel {
    @extend %white-background;
  }

  .control-panel {
    background: $gradient-top-left--light--cp;
  }
  .secondary-panel {
    @extend %lighter-background;
  }

  .close-control-panel:hover,
  .select-countries__label,
  .select-countries__label:hover,
  .select-countries__label:hover:before,
  .select-view__label:hover {
    @extend %black-border;
  }

  .button--cta:hover .icon--from_right,
  .toggle-control-panel.is_animated:hover .icon--from_right {
    @extend %icon--from_right--red;
  }

  .button--cta:hover .icon--from_left,
  .toggle-control-panel:hover .icon--from_left {
    @extend %icon--from_left--red;
  }

  .icon--close,
  .toggle-option__input:checked + .toggle-option__label:before,
  .toggle-control-panel,
  .button--cta {
    @extend %red-border;
  }

  .icon--close:hover,
  input[type="radio"]:checked + .select-view__label,
  .toggle-control-panel:hover,
  .button--cta:hover {
    @extend %bright-red-border;
  }

  .middle-link,
  .toggle-option__label:before,
  .button--select,
  .button--deselect {
    @extend %gray-border;
  }
  .control-panel__link,
  .control-panel__item__inner {
    @extend %light-border;
  }

  .details-panel__fade::before {
    background: $gradient--top--white;
  }
  .details-panel__fade::after {
    background: $gradient--bottom--white;
  }

  @include desktop-only {
    .select-view__label {
      @include gray-border;
    }
    a.control-panel__link,
    a.control-panel__link:after,
    a.control-panel__link:hover {
      @include light-border;
    }
    .control-panel__link:hover .text--link-heading {
      @include bright-red-text;
    }

    .control-panel__link:hover:after {
      @include white-border;
    }
    .select-view .button-close:hover {
      @include bright-red-border;
    }

    .select-types__legend {
      &.legend--subtypes {
        @include black-text;
      }
    }
  }
}
///////////////////////////////


// FORM ELEMENTS
input,
label,
a,
button,
a span,
a div {
  cursor: pointer;
  text-decoration: none;
}

// input:hover,
// label:hover,
// button:hover,
// a:hover span,
// a:hover div {
//   text-decoration: underline;
// }

input[type="checkbox"],
input[type="radio"] {
  @extend %hide_input;
  // position & size will be set by specific classes
}
input[type="checkbox"] + label,
input[type="radio"] + label {
      @extend %label_text;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  @extend %before_label;
  // position & size will be set by specific classes
}

input[type="checkbox"] + label::after,
input[type="radio"] + label::after {
  @extend %after_label;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  @extend %label_text--checked;
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
    @extend %after_label--checked;
}

input[type="checkbox"]:hover + label::before,
input[type="radio"]:hover + label::before {
  @extend %before_label--hover;
}

// js listens for keyboard input and adds .show_keyboard_focus class
a.focus,
button.focus,
input.focus,
label.focus,
input.focus + label {
  box-shadow: none;
  outline: none;
}


a.show_keyboard_focus:focus,
button.show_keyboard_focus:focus {
  @extend %link--focus;
}
button:focus,
input.show_keyboard_focus[type="checkbox"]:focus + label.show_keyboard_focus::before,
input.show_keyboard_focus[type="radio"]:focus + label.show_keyboard_focus::before {
  @extend %before_label--focus;
}

input[type="radio"] + label:after {
  @extend %empty_radio;
}

input[type="radio"]:checked + label:after {
  @extend %radio_dot;
}

input[type="checkbox"] + label:after {
  @extend %empty_checkbox;
}

input[type="checkbox"]:checked + label:after {
  @extend %checkmark;
}

input[type="radio"] + label:hover:after,
input[type="checkbox"] + label:hover:after {
  @extend %pseudo_mark--hover;
}





// END_ELEMENTS
///////////////////////////////

///////////////////////////////
// COMPONENTS
.page-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// All of the outermost items are absolutely positioned
.site-header {
  z-index: 10;
  @include mobile-only {
    padding-left: $h_pad_mobile;
    padding-right: $h_pad_mobile;
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop-only {
      max-width: $cp_width--large;
      left: $h_pad_desktop;
  }

  @include xl-only {
    max-width: $cp_width--xl;
  }

  .site-title {
    @extend %bold;
    font-size: $font_size_2;
    padding-top: calcRem(1,$f1);
    padding-bottom: calcRem(1,$f1);
    margin-bottom: calcRem(1,$f1);

    @include mobile-only {
      border: none;
      max-width: calcVW(12,$cols);
    }
    @include desktop-only {
      border-bottom: 2px solid;
      @include gray-border;
    }
  }
  .chart-header {
    padding-bottom: calcRem(1,$f1);
    @include mobile-only {
      order: 2;
      margin-top: calcRem($f2,1);
    }
  }
  .chart-header__heading {
    font-size: $font_size_2;
  }

  .chart-header__subheading {
    font-size: $font_size_1;
  }

  .chart-header__label {
    @extend %gray-text;
    font-size: $font_size_1;
  }

  // .fine-print-wrap {
  //   @extend %flex-wrap;
  //   @extend %flex-justify-between;
  //   @include mobile-only {
  //     width: 100%;
  //   }
  //   @include desktop-only {
  //     width: calcVW(3,$cols);
  //     margin-top: calcRem($f2,1);
  //     padding-bottom:  calcRem($f1,0.25); // to match up borders
  //   }
  //
  // }
  //
  // .fine-print {
  //   font-size: $font_size_0;
  //   line-height: $font_size_1;
  //
  //   a {
  //     text-transform: uppercase;
  //   }
  // }

  .toggle-control-panel {
    box-shadow: none;
    outline: none;
    overflow: visible;

    @include mobile-only {
      padding-right: calcRem($f1,4);
      position: absolute;
      top: 0;
      right: 0;

      .icon--from_left {
        display: none;
      }
    }

    @include desktop-only {
      display: inline-block;
      text-align: right;
      text-transform: none;
      margin-top: calcRem(1,$f1);
      width: calcVW(3,$cols);
      border-top: 2px solid;
      padding-top: $font_size_1;
      padding-right: calcRem($f1,5);

      .icon--from_left {
        position: absolute;
        top: 7px;
        right: 1rem;
      }
    }
    @include xl-only {
      min-width: calcRem($f1,12);
      width: calcVW(2,$cols);
    }

    .text--slideout-primary,
    .text--slideout-secondary {
      @media(max-width: 767px) {
        display: none;
      }
    }

    .icon--from_right {
      position: absolute;
      top: 7px;
      left: 0;
    }


  }
}

.theme-toggle {
  width: 8rem;
  margin-top: calcRem(1,$f1);
  margin-bottom: calcRem(2,$f1);
  right: 0;

  .theme-toggle__option {
    width: 50%;
    display: block;
    position: absolute;
    top: 0;
    &.second-option {
      left: 50%;
    }
  }
  .theme-toggle__input {
    opacity: 0;
    border: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .theme-toggle__label {
    // padding: 0.5rem 2rem;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: $font_size_0;
    @extend %uppercase;
    &:hover {
      @include desktop-only {
        text-decoration: underline;
      }
    }
  }
  .theme-toggle__label:before {
    border: 2px solid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .theme-toggle--left {
    left: 0;
    top: 0;
    @extend %light-background;
  }

  .theme-toggle--left,
  .theme-toggle--left:before {
    border-radius: 8px 0 0 8px;
  }

  .theme-toggle--right{
    right: 0;
    top: 0;
    @extend %dark-background;
  }

  .theme-toggle--right,
  .theme-toggle--right:before {
    border-radius: 0 8px 8px 0;
  }
  // don't put the dot in these sections
  input[type=radio] + .theme-toggle__label:after,
  input[type=radio]:checked + .theme-toggle__label:after {
    display: none;
  }

  input[type=radio]:checked + .theme-toggle__label.theme-toggle--left {
    @extend %black-background;

    @extend %white-text;
  }
  input[type=radio]:checked + .theme-toggle__label.theme-toggle--left:before {
    // @extend %white-border;
  }

  input[type=radio]:checked + .theme-toggle__label.theme-toggle--right:before {
    // @extend %black-border;
  }


  input[type=radio]:checked + .theme-toggle__label.theme-toggle--right {
    @extend %white-background;
    @extend %bright-red-border;
    @extend %black-text;
  }

}

.button--cta.button--export,
.button--cta.button--details {
  z-index: 10;
  position: absolute;
  right: $h_pad_desktop;
  // border-top: none;
  // border-right: none;
  // border-bottom: none;
  border: none;
  .icon--from_right {
    position: absolute;
    top: -7px;
    right: calcRem(1,$f1);
  }
}

.button--cta.button--export {
  @include desktop-only {
    top: $v_pad_desktop;
    // padding-left: calcRem($f1,2);
    padding-left: 0;
    padding-right: calcRem($f1,5);
  }
}
.button--cta.button--details {
  top: calcRem(5,$f1);
  // padding-left: calcRem($f1,1);
  padding-left: 0;
  padding-right: calcRem($f1,5);
}


.control-panel {
  // see _animated.scss for positioning & size
  padding: $v_pad_mobile $h_pad_mobile;
  @include mobile-only {
    padding-bottom: calcVH(16,$grid);
  }

  @include desktop-only {
    padding: 1rem $cp_pad--large 10rem 0;
    top: 0;
  }


  .close-control-panel {
    @extend %button--close-panel;
    text-align: right;

    @media (min-width: $desktop_min) {
      top: $main_heading_top--mobile;
      right: $cp_pad--large;
      border-width: 0;
      padding: 0;
      text-transform: none;
    }

  }

  .close-control-panel:hover {


  }

  .text--close-slideout {
    @extend %uppercase;
  }

  .control_panel__heading {
    font-size: $font_size_2;
    @extend %uppercase;
    @include mobile-only {
      top: 4rem;
    }
    @include desktop-only {
      left: $h_pad_desktop;
      padding-top: calcRem($f2,1);
      padding-bottom: 2px; // to make the border line up
      margin-bottom: calcRem($f1,1);
    }
  }

  .control-panel__list {
    @include mobile-only {
      margin-top: $panel_top_space--mobile;
    }
  }
  .control-panel__item {
    @include mobile-only {
      min-height: calcRem($f1,3);
    }

    &.has_theme_toggle {
      height: calcRem($f1,6);
      padding-top: calcRem($f1,3);
    }
  }
  .theme-toggle--mobile {
    display: table;
    vertical-align: middle;
  }

  .control-panel__item__inner,
  .control-panel__link {
    width: 100%;
    display: block;
    border-top: 1px solid;
    padding: $font_size_1 0;

    // special case
    @include desktop-only {
      .text--link-label,
      .text--link-heading,
      .text--link-subheading,
      .text--panel-label {
        left: $h_pad_desktop;
      }
    }

  }
  // .control-panel__link {
  //   padding-bottom: $font_size_1;
  // }

  .control-panel__link:after {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    border-top: 1px solid;
  }

  .control-panel__link:hover {
    @include desktop-only {
      text-decoration: none;
    }

  }

  .control-panel__link:hover:after {
    @include desktop-only {
      width: 100%;
      transition: width 200ms ease-in-out;
    }

  }

  .control-panel__link .icon {
    position: absolute;
    top: 6px;
    right: 0;
  }

  /* PROTOTYPE ONLY */
  .year-toggle-wrap {
    @extend %flex-wrap;
    @extend %flex-justify-between;
    @extend %flex-align-center;

    @include desktop-only {
      padding-left: $h_pad_desktop;
      max-width: 100%;
      overflow-x: hidden;
    }

    /* PROTOTYPE ONLY */
    .year-toggle-wrap__inner {
      text-align: center;
      width: 54px;

      @include desktop-only {
        .text--link-heading {
          left: 0;
        }
      }

    }
    /* PROTOTYPE ONLY */
    .year-toggle {
      border: 1px solid $white;
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;
      margin: $font_size_0 2px;
      font-size: $font_size_1;
    }

    /* PROTOTYPE ONLY */
    .range-wrap {
      display: block;
      width: calc(100% - 144px);
      margin-left: 72px;
      margin-right: 72px;
      height: 32px;
      position: absolute;
      vertical-align: middle;

      @media (min-width: $desktop_min) {
        width: calc(100% - 182px)
      }

    }
    /* PROTOTYPE ONLY */
    .range-scale {
      width: 100%;
      height: 4px;
      background-color: $gray5;
      position: absolute;
      left: 0;
      top: 14px;
    }

    /* PROTOTYPE ONLY */
    .range-marker {
      display: block;
      width: 100% * 14/15;
      border-left :2px solid $red6;
      border-right :2px solid $red6;
      height: 20px;
      position: absolute;
      left: 0;
      top: 6px; // 32-20
      padding-top: 6px;
      padding-bottom: 6px;
      vertical-align: middle;
    }
    /* PROTOTYPE ONLY */
    .range-highlight {
      background-color: $white;
      height: 100%;
      width: 100%;
      display: block;
    }
  }
  .control-panel__item-divider {
    border-bottom: 4px solid $gray1;

    @media (min-width: $desktop_min) {
      border-width: 1px;
    }

  }

  .control-panel__series-toggle {
    @extend %flex-wrap;
    @extend %flex-justify-between;
    @extend %flex-align-center;
    width: 100%;
    padding: $font_size_1;
    padding-bottom: 0;

    @include desktop-only {
      padding-left: $h_pad_desktop;
      padding-right: 0;
    }

  }

  .control-panel__toggle-option {
    width: 50%;
    display: block;
    height: 2.5rem;
  }



  .toggle-option__input {
    opacity: 0;
    border: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .toggle-option__label {
    padding: 0.5rem;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    &:hover {
      @include desktop-only {
        text-decoration: underline;
      }
    }
  }
  .toggle-option__label:before {
    border: 2px solid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .toggle-option--left,
  .toggle-option--left:before {
    border-radius: 8px 0 0 8px;
  }
  .toggle-option--right,
  .toggle-option--right:before {
    border-radius: 0 8px 8px 0;
  }


  // don't put the dot in these sections
  input[type=radio] + .toggle-option__label:after,
  input[type=radio]:checked + .toggle-option__label:after {
    display: none;
  }

  .button--cta {
    @include mobile-only {
      position: absolute;
      top: calcRem($f1,3);
    }
  }

}

.secondary-panel {
  display: none;
  position: fixed;
  top: 0;
  z-index: 13;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  @include mobile-only {
    padding: $v_pad_mobile $h_pad_mobile;
  }
  @include desktop-only {
    padding: $v_pad_desktop $h_pad_desktop;
  }


  .secondary-panel__inner {
    border-top: 1px solid $gray5;

    @include mobile-only {
      margin-top: $panel_top_space--mobile;
      padding-top: $v_pad_mobile;
    }
    @include desktop-only {
      margin-top: calcRem($f1,4);
      padding-top: $v_pad_desktop;
    }
  }
  .text--legend {
    @extend %bold;
    font-size: $font_size_2;
    padding-bottom: calcRem($f1,2);
    @include desktop-only {
      padding-top: calcRem(1,$f1);
      line-height: calcRem(2,$f1);
      padding-bottom: calcRem(2,$f1);
    }
  }

  .icon {
    position: absolute;
    @include mobile-only {
      top: 6px;
      right: 0;
    }
  }
}


.secondary-panel.select-types {

}

.secondary-panel.select-countries {

}

.secondary-panel.select-view {

}

.select-types {

  .select-types__aside {
    h1,h2,h3,h4,h5,h6 {
      @extend %bold;
    }
    p {
      line-height: 1.25;
    }

    @include mobile-only {
      padding-top: calcRem($f1,1);
    }

    @include desktop-only {
      width: calcVW(4,$cols);
      position: absolute;
      top: calcRem($f1,13);
      left: $h_pad_desktop;
    }

  }

  .select-types__form {
    @include desktop-only {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: flex-start;
      // align-items: flex-start;
      padding-left: calcVW(5,$cols);
      position: absolute;
      width: $h_width_desktop;
    }
  }

  .select-types__fieldset {
    @include desktop-only {
      width: calcVW(5, $cols);
      // flex-basis: calcVW(5,$cols);
      // flex-grow: 0;
    }
  }

  .fieldset--types {

  }
  .fieldset--subtypes {
    @include desktop-only {
      width: calcVW(4,$cols);
      // margin-top: calcRem($f1,4.6);
      // margin-left: calcVW(0.5,$cols);
      // padding-top: 0;
      // flex-basis: calcVW(4,$cols);
    }
  }

  .select-types__legend {
    &.legend--subtypes {
      @include desktop-only {
        font-size: $font_size_1;
        font-weight: 500;
        padding-top: calcRem($f1,1.5);
        padding-bottom: calcRem($f1,0.5);
      }
    }

  }

  .legend--types {

  }

  .legend--subtypes {

  }

  .select-types__list {

  }

  .list--types {

  }

  .list--subtypes {

  }

  .select-types__item {
    @extend %custom_radio_wrap;
  }

  .item--types {

  }

  .item--subtypes {

  }

  .select-types__input {
    @extend %custom_radio_input;
  }

  .select-types__label {
    @extend %custom_radio_label--mobile;
    @include desktop-only {
      padding-left: calcVW(4,$grid);
    }
  }
  .select-types__label:hover,
  .select-types__label:hover:before {

  }

  .input--main-option {

  }

  .input--sub-option {

  }

  .label--main-option {

  }
  .label--sub-option {

  }
}

.select-countries {
  .button--select,
  .button--deselect {
    position: relative;
    margin-top: $panel_top_space--mobile;
  }

  .section-buttons {
    // position: absolute;
    @include mobile-only {
      // top: calcRem(0.25,$f1);
      // left: calcRem(7,$f1);
      // position: absolute;
    }
    @include desktop-only {
      // top: calcRem(1.25,$f1);
      // left: calcRem(9,$f1);
    }

    .button--select,
    .button--deselect {
      margin-top: 0;
      border: none;
      @include mobile-only {
        display: inline-block;
        padding-top: calcRem(0.5, $f1);
        padding-bottom: calcRem(0.5, $f1);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: calcRem(1,$f1);
        margin-top: calcRem(1,$f1);
        margin-right: calcRem(2,$f1);
      }
      @include desktop-only {
        padding: 0.25rem 0;
        margin-top: calcRem(1,$f1);
        margin-bottom: calcRem(1,$f1);
        margin-right: calcRem(2,$f1);
        background-color: transparent;
        &.show_keyboard_focus {
          padding-top: calcRem(0.5,$f1);
          padding-bottom: calcRem(0.5,$f1);
          padding-left: calcRem(1,$f1);
          padding-right: calcRem(1,$f1);
          border: 2px solid;
        }
      }
      .button--select {

      }

    }
  }



  .select-countries__form {
    margin-top: 0;
    border-top: none;
    @include desktop-only {
      display: flex; // NEW
      flex-wrap: wrap; // NEW
    }
  }

  .select-countries__fieldset {
    padding-bottom: $font_size_3;
    @include desktop-only {
      width: 45vw; // NEW
      margin: 0; // NEW
      padding: 0; // NEW
    }
  }
  // NEW
  .select-countries__fieldset.region--one {
    @include desktop-only {
        padding-right: calcVW(2,$grid);
    }
  }
  // NEW
  .select-countries__fieldset.region--two {
    @include desktop-only {
        padding-left: calcVW(2,$grid);
    }
  }


  .select-countries__legend {
    padding-bottom: 0;
  }

  .select-countries__list {
    @include desktop-only {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; // NEW
      height: calcRem($f1,24); // NEW
    }

  }

  .select-countries__item {
    @extend %custom_radio_wrap;
    @include desktop-only {
      // flex-basis: calcVW(3.75,$cols);
//NEW      // flex-basis: calcRem($f1,16);
      flex-grow: 0;
      // margin-right: calcRem($f1,2);
      margin-right: calcVW(2,$grid);
    }

    // NEW
    @include desktop-only {
      width: calcVW(12,$grid);
    }
  }
  .select-countries__input {
    @extend %custom_radio_input;
  }
  .select-countries__label {
    @extend %custom_radio_label--mobile;
    @include desktop-only {
      padding-left: calcVW(3,$grid);
      vertical-align: middle;
    }
  }
  .select-countries__label:hover,
  .select-countries__label:hover:before {

  }
}

.select-view {

  .select-view__form {

  }

  .select-view__fieldset {

  }

  .text--legend {
    @include desktop-only {
        margin-left: $h_pad_desktop;
    }
  }

  .select-view__list {

    @include desktop-only {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: $h_pad_desktop;
      padding-right: $h_pad_desktop;
    }
  }

  .select-view__item {
    @extend %custom_radio_wrap;
    height: calcRem($f1, 5);
    @include desktop-only {
      flex-basis: calcVW(4,$cols);
      flex-grow: 1;
      margin-right: calcVW(0.5,$cols);
      margin-bottom: calcVH(1,$cols);
      height: calcVW(10,$grid);
    }
    &.has_warning {
      min-height: calcRem(6,$f1);
    }
  }

  .select-view__input {
    @extend %custom_radio_input;

    @include desktop-only {

    }

  }
  .select-view__label {
    @extend %custom_radio_label--mobile;
    @include desktop-only {
      border: 2px solid;
      height: 100%;

    }

  }

  .select-view__label:hover {

    @include mobile-only {
      height: auto;
    }
    @include desktop-only {

    }
  }

  input[type="radio"]:checked + .select-view__label:before {
    @include desktop-only {
      display: none;
    }
  }
  input[type="radio"]:checked + .select-view__label:after,
  .select-view__label:after {
    top: 18px;

    @include desktop-only {
      display: none;
    }
  }

  .select-view__text {
    display: block;
    font-size: $font_size_1;
    position: relative;
    @include desktop-only {
      position: absolute;
      left: calcVW(2,$grid);
    }
  }
  .select-view__text.line1 {
    @extend %bold;
    @include desktop-only {
      top: $font_size_1;
    }
  }
  .select-view__text.line2 {
    @include desktop-only {
      top: calcRem($f1, 2);
    }
  }

  .select-view__text.text--warning {
    @extend %italic;
    @include desktop-only {
      top: calcRem($f1, 3);
      max-width: calcVW(7,$cols);
    }
  }


  .select-view__icon {
    @include desktop-only {
      bottom: 0;
      right: 0;
      min-width: calcVW(7,$grid);
      min-height: calcVW(7,$grid);
    }

  }
  .icon--bubble-map {

  }
  .icon--line-graph {

  }
  .icon--stacked-area {

  }
  .icon--treemap {

  }
  .icon--table {

  }
}

.export-options {
  .export-options__heading {
    @extend %bold;
    font-size: $font_size_2;
    margin-top: calcRem($f1,-2);
    margin-bottom: calcRem($f1,1);
    padding-left: calcVW(1,$grid);
    padding-right: calcVW(1,$grid);
  }

  .export-options__list {
    padding-left: calcVW(1,$grid);
    padding-right: calcVW(1,$grid);

  }

  .export-options__item {
    margin-bottom: calcRem(1,$f1);
  }

  .export-options__fieldset {
    margin-bottom: calcRem(1,$f1);
  }

  .export-options__legend {

  }

  .export-options__sub-list {
      width: 100%;
  }

  .export-options__sub-item {
    @extend %custom_radio_wrap;
  }

  .export-options__input {
    @extend %custom_radio_input;
  }

  .export-options__label {
    @extend %custom_radio_label--mobile;
    @include desktop-only {
      padding-left: calcVW(3,$grid);
      vertical-align: middle;
    }
  }
}


.details-panel {
  @include desktop-only {
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
  }
  position: relative;

  .button--close {
    position: fixed;
    z-index: 12;
    right: calcVW(1,$grid);
  }

  .button--icon {
    border: none;
    width: 36px;
    height: 36px
  }

  .icon-text {
    display: none;
  }

  // .icon--close {
  //   display: none;
  // }

  .icon--close {
    display: block;
    border: 2px solid;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
  }




  .details-panel__fade {
    height: 100%;
    padding-top: calcRem(6,$f2);
    // padding-left: calcVW(1,$grid);
    // padding-right: calcVW(1,$grid);
    position: fixed;
    overflow-y: scroll;
    will-change: scroll-position;
    width: 100%;
  }

  .details-panel__fade::before,
  .details-panel__fade::after {
    content: "";
    height: calcRem(6,$f2);
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .details-panel__fade::before {
    top: 0;
    position: fixed;
  }

  .details-panel__fade::after {
    bottom: 0;
    position: fixed;
  }

  .details-panel__scroll {
    padding-bottom: calcVH(16,$grid);
  }

  .details-panel__heading,
  .details-panel__text {
    padding-left: calcVW(1,$grid);
    padding-right: calcVW(1,$grid);
  }

  .details-panel__heading {
    @extend %bold;
  }

  .details-panel__text {
    font-size: $font_size_1;
    margin-bottom: $font_size_1;
  }

  .text--table-details {
    font-size: $font_size_0;
    margin-bottom: $font_size_0;
    line-height: 1.4;

    &.is_long_url {
      hyphens: auto;
      overflow-wrap: break-word;
      word-break: break-all;
    }
  }

  @include mobile-only {
    // width: $cp_width--mobile; see _animated.scss
    padding: $h_pad_mobile;
    padding-bottom: calcRem(10,$f1);
  }
  @include desktop-only {
    // width: $cp_width--large; // see _animated.scss
    padding-bottom: calcRem(10,$f1);
  }
  @include xl-only {
    // width: $cp_width--xl;
  }
}


.site-footer {
  @extend %flex-wrap;
  @extend %flex-align-center;
  position: absolute;
  bottom: calcRem(1,$f1);
  @include mobile-only {
      padding: $v_pad_mobile $h_pad_mobile;
  }


  @include mobile-only {
    width: 100%;
    z-index: 10;
  }

  @include desktop-only {
    width: $cp_width--large;
    left: $h_pad_desktop;
    z-index: 12;
    min-width: 320px;
  }

  .site-footer__logos {
  }
  .state-logo-wrap,
  .ad-logo-wrap {
    vertical-align: middle;
    display:table-cell;
    position: relative;
  }

  .state-logo-wrap {
    @include mobile-only {
      height: 3rem;
    }
    @include desktop-only {
      height: 3rem;
    }
  }
  .ad-logo-wrap {
    @include mobile-only {
      width: 12rem;
    }

    @include desktop-only {
      width: 15rem;
    }
  }
  .fine-print,
  .source-link {
    font-size: $font_size_0;
  }
  .source-link {
    font-style: italic;
  }
}
