// Break Points (mobile up)
$desktop_min: 992px;
$mobile_max: 991px;
$xl:  1400px;

$grid: 64;
$cols: 16;

$type_scale: 1.44;

// Font sizes are in rem but must be numbers
$f1:  1;
$f0: ($f1 / $type_scale);
$f2: $f1 * $type_scale;
$f3: $f2 * $type_scale;



$font_size_0: #{$f0}rem;
$font_size_1: #{$f1}rem;
$font_size_2: #{$f2}rem;
$font_size_3: #{$f3}rem;


$cp_width--bp: 383px;
$cp_width--mobile: 384px; // affects animation
$cp_width--large: calcVW(4,$cols);
$cp_width--xl: calcVW(3,$cols);

$wide_panel: calcVW(7,$cols);


$h_pad_mobile: calcVW(4, $grid);
$v_pad_mobile: calcVH(2,$grid);
$v_pad_desktop: calcRem(1, $f2);
$h_pad_desktop: calcVW(2, $grid);
$h_width_desktop: calcVW(60, $grid); // 64 grid - 4 padding = 60;

$cp_pad--large: calcVW(1,$grid);

$button_h_padding--mobile: calcRem($f1,1);
$button_v_padding--mobile: calcRem($f1, 0.5);

$panel_top_space--mobile: calcRem($f1, 3);
$main_heading_top--mobile: calcRem($f3, 3);
$toggle-cp_top_space--large: calcRem($f3, 6);

$radio_height--mobile: calcRem($f1,3);
$radio_horizontal_padding--mobile: calcVW(8, $grid);
// $subtype_horizontal_padding--mobile: calcVW(6.08, $grid); // to line up with input label text
$radio_vertical_padding--mobile: calcRem($f1, 1);

// $font_size_0: unitSet($f0);
// $font_size_1: unitSet($f1);
// $font_size_2: unitSet($f2);
// $font_size_3: unitSet($f3);

// Colors
$white: #FFFFFF;
$ui: #E81736; // B3122A
$light: #BBBBBB;
$gray: #777777;
$dark: #222222;
$black:  #000000;


$red: #B3122A;




$overlay--dark:  rgba(0,0,0,0.6);
$overlay--black:  rgba(0,0,0,0.8);

$gradient--top--black:  linear-gradient(180deg, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 35%,rgba(0,0,0,0.3) 75%,rgba(0,0,0,0) 100%);
$gradient--bottom--black: linear-gradient(0deg, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 35%,rgba(0,0,0,0.3) 75%,rgba(0,0,0,0) 100%);

$gradient--top--white:  linear-gradient(180deg, rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 35%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0) 100%);
$gradient--bottom--white: linear-gradient(0deg, rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 35%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0) 100%);



$cp_gradient--large: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.57) 30%,rgba(0,0,0,0.5) 35%,rgba(0,0,0,0.31) 60%,rgba(0,0,0,0) 100%);
