
///////////////////////////////
//   MAP AND CHART LAYERS   //
/////////////////////////////

.map-layer,
.chart-layer,
.chart-layer__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}



.map-layer::before,
.map-layer::after,
.chart-layer::before,
.chart-layer::after {
  content: "";
  height: calcRem(6,$f2);
  position: fixed;
  width: 100%;
  z-index: 1;
}


.map-layer::before,
.chart-layer::before {
  top: 0;
  position: fixed;
}

.map-layer::after,
.chart-layer::after {
  bottom: 0;
  position: fixed;
}


.map-layer {
  z-index: 5;

  // FOR TESTING ONLY
  & > span {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;

  }
  & > span:first-of-type {
    margin-top: 12rem;
  }

  & a {
    position: relative;
    display: block;
    text-align: center;
  }
  // END FOR TESTING ONLY
}

.chart-layer {
  z-index: 6;
  display: none;
  &.js_chart_visible {
    display: block;
  }

  // FOR TESTING ONLY
  span {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }
  a {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }
  // END FOR TESTING ONLY

  .chart-layer__wrap {
    overflow-y: scroll;
    will-change: scroll-position;
    position: absolute;
    transition: all 300ms ease-in-out;


    @include mobile-only {
      padding-left: $h_pad_mobile;
      padding-right: $h_pad_mobile;
      width: 100%;
      padding-top: calcRem($f1,12);
      height: calc(100vh - 12rem);
    }

    @include desktop-only {
      width: calcVW(42,$grid);
      left: calcVW(20,$grid);
      padding-top: calcRem(12,$f1);
      height: 100vh;
    }
    @include xl-only {
      left: calcVW(15,$grid);
      width: calcVW(47,$grid);
    }

    &.details_panel_open,
    &.export_panel_open {
      @include desktop-only {
        width: calcVW(27,$grid);
      }
      @include xl-only {
        width: calcVW(36,$grid);
      }
    }
    &.control_panel_open--xl {
      @include xl-only {
        left: calcVW(27,$grid);
        width: calcVW(35,$grid);
      }

    }
    &.control_panel_open--xl.details_panel_open,
    &.control_panel_open--xl.export_panel_open--xl {
      @include xl-only {
          width: calcVW(24,$grid);
      }
    }
  }


  .chart-object {

  }

}

// theme for layers

.theme--dark {
  &.page-wrap {
    background: $gradient-top-left--dark;

  }
  .site-header {
    @include desktop-only {
      background: $gradient-top-left--dark--header;
    }
  }

  // .map-layer::before,
  .chart-layer::before {
    background: $gradient--top--black;
  }
  // .map-layer::after,
  .chart-layer::after {
    background: $gradient--bottom--black;
  }


  .chart-layer__overlay {
    background: rgba(0,0,0,0.7);
  }

  .chart-layer__wrap {
    // background-color: $black;
    color: $white;
  }
}
.theme--light {
  &.page-wrap {
    background: $gradient-top-left--light;
  }
  .site-header {
    @include desktop-only {
      background: $gradient-top-left--light--header;
    }
  }

  // .map-layer::before,
  .chart-layer::before {
    background: $gradient--top--white;
  }
  // .map-layer::after,
  .chart-layer::after {
    background: $gradient--bottom--white;
  }


  .chart-layer__overlay {
    background: $gradient-top-left--light;
  }
  .chart-layer__wrap {
    // background-color: $white;
    color: $black;
  }
}
