
///////////////////////////////
//   MAP AND CHART LAYERS   //
/////////////////////////////

.map-layer,
.chart-layer,
.chart-layer__overlay,
.table-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
}



// .map-layer::before,
// .map-layer::after,
// .chart-layer::before,
// .chart-layer::after {
//   content: "";
//   height: calcRem(6,$f2);
//   position: fixed;
//   width: 100%;
//   z-index: 1;
// }


// .map-layer::before,
// .chart-layer::before {
//   top: 0;
//   position: fixed;
// }

// .map-layer::after,
// .chart-layer::after {
//   bottom: 0;
//   position: fixed;
// }


.map-layer {
  z-index: 5;

  // FOR TESTING ONLY
  & > span {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;

  }
  & > span:first-of-type {
    margin-top: 12rem;
  }

  & a {
    position: relative;
    display: block;
    text-align: center;
  }
  // END FOR TESTING ONLY
}

.chart-layer,
.map-layer,
.chart-layer__overlay,
.map-layer::before,
.map-layer::after,
.chart-layer::before,
.chart-layer::after {
  @include pre-laptop-width {
    display: none;
  }
}

.table-layer,
.chart-layer {
  z-index: 6;
  display: none;
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  will-change: scroll-position;
  position: absolute;
  transition: all 200ms ease-in-out;

  &.js_chart_visible {
    display: block;
  }
  .table-layer__wrap,
  .chart-layer__wrap {
    height: 100%;
    transition: padding 200ms ease-in-out;

    @include pre-laptop-width {
      display: none;
    }
    @include laptop-width {
      padding-left: calcVW(17,$grid);
      padding-top: calcRem(12,$f1);
      min-height: calc(100vh - 12rem);
    }
    @include laptop-height {
      padding-left: calcVW(16, $grid);
      padding-top: calcRem(6,$f1);
    }
    @include desktop-only {
      padding-left: calcVW(18,$grid);
      padding-top: calcRem(10,$f1);
    }

    @include xl-only {
      padding-left: calcVW(14,$grid);
      padding-top: calcRem(12,$f1);
    }

    &.right_panel_open {
      @include desktop-only {
        padding-right: calcVW(16,$grid);
      }
      @include xl-only {
        padding-right: calcVW(12,$grid);
      }
    }
  }
  .chart-object {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;

    @include laptop-width {
      min-height: calc(100vh - 12rem);
    }
    @include laptop-height {
      min-height: calc(100vh - 6rem);
    }
    @include desktop-only {
      min-height: calc(100vh - 10rem);
    }
    @include xl-only {
      min-height: calc(100vh - 12rem);
    }
  }
}
.chart-layer {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.table-layer {
  overflow-x: scroll;
}

.chart-type.table-layer {
  @include pre-laptop-width {
    display: block;
    position: relative;
  }

  .table-layer__wrap {
    @include pre-laptop-width {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      min-height: 100%;
      left: 0;
      top: 0;
      padding-left: calcVW(4,$grid);
      padding-right: calcVW(4,$grid);
      padding-bottom: calcVH(16,$grid);
    }

  }
  .table-panel {
    @include pre-laptop-width {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}

// theme for layers

.theme--dark {
  &.page-wrap {
    background: $gradient-top-left--dark;

  }
  .site-header {
    @include desktop-only {
      background: $gradient-top-left--dark--header;
    }
  }

  // .map-layer::before,
  .chart-layer::before {
    background: $gradient--top--black;
  }
  // .map-layer::after,
  .chart-layer::after {
    background: $gradient--bottom--black;
  }


  .chart-layer__overlay {
    background: rgba(0,0,0,0.7);
  }

  .chart-layer__wrap {
    // background-color: $black;
    color: $white;
  }
}

.chart-type {
  display: none;
  &.js_chart_visible {
    display: block;
  }
}


.theme--light {
  &.page-wrap {
    background: $gradient-top-left--light;
  }
  .site-header {
    @include desktop-only {
      background: $gradient-top-left--light--header;
    }
  }

  // .map-layer::before,
  .chart-layer::before {
    background: $gradient--top--white;
  }
  // .map-layer::after,
  .chart-layer::after {
    background: $gradient--bottom--white;
  }


  .chart-layer__overlay {
    background: $gradient-top-left--light;
  }
  .chart-layer__wrap {
    // background-color: $white;
    color: $black;
  }
}
