// media queries
@mixin mobile-only {
  @media (max-width: $mobile_max) { @content; }
}

@mixin desktop-only {
  @media (min-width: $desktop_min) { @content; }
}

@mixin xl-only {
  @media (min-width: $xl) { @content; }
}

@mixin not-xl {
  @media (max-width: $desktop_max) { @content; }
}



// nested in .site-header in _animations.scss
// if control panel is open
@mixin text--cp-show {
  .toggle-control-panel {
    text-align: right;
    padding-right: 5rem;
    padding-left: 0;
  }
  
  .text--show,
  .icon--from_left {
    display: inline;
  }

  .text--hide,
  .icon--from_right {
    display: none;
  }
}


// nested in .site-header in _animations.scss
// if control panel is open
@mixin text--cp-hide {
  .toggle-control-panel {
    text-align: left;
    padding-left: 5rem;
    padding-right: 0;
  }

  .text--hide,
  .icon--from_right {
    display: inline;
  }

  .text--show,
  .icon--from_left {
    display: none;
  }
}
