%ui_primary {
  color: $white;
}

%ui_secondary {
  color: $light
}

%ui_tertiary {
  color: $gray;
}

%ui_dynamic {
  color: $ui;
}

%ui_label {
  text-transform: uppercase;
  @extend %ui_primary;
  font-size: $font_size_1;
}

%slideout-toggle {
  font-style: italic;
}
%panel-button {
  @extend %ui_label;
  @extend %ui_primary;
}

%cp_primary {
  @extend %ui_primary;
  @extend %slideout-toggle;
}

%cp_secondary {
  @extend %ui_dynamic;
  @extend %slideout-toggle;
}

%cp_tertiary {
  @extend %ui_secondary;
  @extend %slideout-toggle;
}

%headline {
  font-weight: 500;
  @extend %ui_secondary;
}

%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%flex-justify-between {
  justify-content: space-between;
}

%flex-align-center {
  align-items: center;
  align-content: center;
}

%button {
  text-transform: uppercase;
  padding: $button_v_padding--mobile $button_h_padding--mobile;
  border: 2px solid $gray;
}

%button:hover {
  text-decoration: underline;
  border-color: $white;
}

%button--close-panel {
  @extend %button;
  position: absolute;
  top: $v_pad_mobile;
  right: $h_pad_mobile;
  z-index: 2;
  border-color: $gray;
  @include desktop-only {
    right: $h_pad_desktop;
  }
}

%button--select {
  @extend %button;
  background-color: rgba(0,0,0,0.1);
  color: $white;
  font-size: $font_size_0;
}


// for keyboard input
%link--focus {
  box-shadow: 0 0 0 3px $white !important;
  outline: 3px solid transparent !important; /* For Windows high contrast mode. */
}


// Base Styles for Custom Form Elements
%hide_input {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

%label_text {
  color: $white;
}

%label_text:hover {
  color: $white;
}

%before_label {
  border: 2px solid;
  content: "";
}

%after_label {
  content: "";
  opacity: 0;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out;
}

%label_text--checked {
  color: $white;
}

%after_label--checked {
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out;
}
%before_label--hover {
  text-decoration: none; // placeholder
  // box-shadow: 0 0 0 3px $white;
  // outline: 3px solid transparent; /* For Windows high contrast mode. */
}

// for keyboard input
%before_label--focus {
  @include show-outline;
}


%custom_checkbox_input {
  color: red;
}

%custom_radio_input {
  color: red;
}

%custom_radio_wrap {
  width: 100%;
  height: $radio_height--mobile;
}

%custom_checkbox_label {
  color: red;
}

%custom_radio_label--mobile {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: table;
  height: 100%;
  vertical-align: middle;
  padding-left: $radio_horizontal_padding--mobile;
  padding-top: $radio_vertical_padding--mobile;
  padding-bottom: $radio_vertical_padding--mobile;
  margin-bottom: $font_size_1;
  border-top: 1px solid $gray;
}

%custom_radio_label--mobile--hover {
    border-color: $white;
}

%custom_radio_label--mobile:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}

%pseudo_box_outline {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid $gray;
}

%empty_checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 14px;
  background-color: transparent;
  border: 2px solid $gray;
  content: "";
  display: block;
  opacity: 1;
}

%empty_radio {
  @extend %empty_checkbox;
  border-radius: 10px;
}


%radio_dot {
  @extend %empty_checkbox;
  border-radius: 10px;
  background-color: $ui;
}

%checkmark {
  @extend %empty_checkbox;
  // content: "+";
  display: table;
  text-align: center;
  vertical-align: middle;
  background-color: $ui;
}

%pseudo_mark--hover {
  border-color: $white;
}
